.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 80px; }
  @media (max-width: 600px) {
    .u-margin-bottom-big {
      margin-bottom: 30px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .u-margin-bottom-big {
      margin-bottom: 40px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .u-margin-bottom-big {
      margin-bottom: 40px; } }

.u-margin-bottom-small {
  margin-bottom: 15px; }
  @media (max-width: 600px) {
    .u-margin-bottom-small {
      margin-bottom: 10px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .u-margin-bottom-small {
      margin-bottom: 12px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .u-margin-bottom-small {
      margin-bottom: 13px; } }

.u-margin-bottom-medium {
  margin-bottom: 35px; }
  @media (max-width: 600px) {
    .u-margin-bottom-medium {
      margin-bottom: 20px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .u-margin-bottom-medium {
      margin-bottom: 28px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .u-margin-bottom-medium {
      margin-bottom: 30px; } }

.u-margin-top-big {
  margin-top: 80px; }
  @media (max-width: 600px) {
    .u-margin-top-big {
      margin-top: 5px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .u-margin-top-big {
      margin-top: 15px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .u-margin-top-big {
      margin-top: 30px; } }

.u-margin-top-medium {
  margin-top: 50px; }

.u-margin-top-small {
  margin-top: 20px; }
  @media (max-width: 600px) {
    .u-margin-top-small {
      margin-top: 5px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .u-margin-top-small {
      margin-top: 10px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .u-margin-top-small {
      margin-top: 15px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 600px) {
    html {
      font-size: 10px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    html {
      font-size: 12px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 16px; } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 30px;
  color: #777; }
  @media (max-width: 600px) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  70% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  70% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(30px); }
  100% {
    opacity: 1;
    transform: translatey(0px); } }

.heading-main {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 25px;
  display: block;
  animation: moveInLeft 1s ease-in; }
  @media (max-width: 600px) {
    .heading-main {
      letter-spacing: 10px;
      font-size: 30px;
      margin-bottom: 10px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .heading-main {
      font-size: 45px;
      letter-spacing: 12px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .heading-main {
      font-size: 52px;
      letter-spacing: 17px; } }

.heading-sub {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 15.8px;
  display: block;
  animation: moveInRight 1s ease-out;
  margin-bottom: 50px; }
  @media (max-width: 600px) {
    .heading-sub {
      font-size: 10px;
      letter-spacing: 5px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .heading-sub {
      font-size: 15px;
      letter-spacing: 8px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .heading-sub {
      font-size: 17px;
      letter-spacing: 10px; } }

.heading-secondary {
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.6s; }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 20px;
      letter-spacing: 0;
      padding: 0 10px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .heading-secondary {
      font-size: 23px;
      padding: 0 15px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .heading-secondary {
      font-size: 25px;
      padding: 0 12px; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 5px 10px 15px #777; }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    .heading-tertiary {
      font-size: 12px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .heading-tertiary {
      font-size: 14px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .heading-tertiary {
      font-size: 15px; } }

.paragraph {
  font-size: 16px; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }
  @media (min-width: 601px) and (max-width: 900px) {
    .paragraph {
      font-size: 12px; }
      .paragraph:not(:last-child) {
        margin-bottom: 13px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .paragraph {
      font-size: 14px; }
      .paragraph:not(:last-child) {
        margin-bottom: 20px; } }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 35px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.2s ease-in;
  font-weight: 700;
  position: relative; }
  @media (max-width: 600px) {
    .btn {
      font-size: 10px;
      padding: 11px 20px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .btn {
      font-size: 12px;
      padding: 11px 18px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .btn {
      font-size: 13px;
      padding: 13px 25px; } }
  .btn-animated {
    animation: moveInBottom 0.4s ease-in 0.5s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.322); }
  .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background-color: #fff;
    transition: all 0.4s; }
  .btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0; }
  .btn--green {
    background-color: #55c57a;
    color: #fff;
    border: none; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn-white {
    background-color: #fff;
    color: #777; }
  .btn-text:link, .btn-text:visited {
    color: #55c57a;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all 0.4s; }
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.322); }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 390px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.6s 0.5s; }
    @media (max-width: 600px) {
      .popup__content {
        display: grid;
        grid-template-rows: 1fr 1fr; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .popup__content {
        display: grid;
        grid-template-rows: 1fr 1fr; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .popup__content {
        display: grid;
        grid-template-columns: 0.75fr 1.25fr;
        height: auto; } }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media (max-width: 600px) {
      .popup__left {
        display: flex;
        flex-direction: row;
        width: 50%; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .popup__left {
        display: flex;
        flex-direction: row;
        width: 50%; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .popup__left {
        width: 100%; } }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px; }
    @media (max-width: 600px) {
      .popup__right {
        width: 100%;
        padding: 15px 15px;
        text-align: center; }
        .popup__right-link {
          margin-top: 15px; }
        .popup__right div {
          font-size: 12px; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .popup__right {
        width: 100%;
        padding: 15px 15px;
        text-align: center; }
        .popup__right-link {
          margin-top: 15px; }
        .popup__right div {
          font-size: 14px; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .popup__right {
        font-size: 14px;
        width: 100%;
        padding: 15px; } }
  .popup__text {
    font-size: 14px;
    column-count: 2;
    column-gap: 30px;
    column-rule: solid 1px #999;
    hyphens: auto; }
    @media (max-width: 600px) {
      .popup__text {
        font-size: 10px;
        column-count: 1;
        margin-bottom: 5px; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .popup__text {
        font-size: 10px;
        column-count: 1;
        margin-bottom: 5px; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .popup__text {
        font-size: 13px;
        margin-bottom: 6px; } }
  .popup__img {
    display: block;
    height: 50%;
    width: 100%;
    object-fit: cover; }
    @media (max-width: 600px) {
      .popup__img {
        height: auto; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .popup__img {
        height: auto; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #777;
    text-decoration: none;
    display: inline-block;
    font-size: 25px; }
    .popup__close:link:hover, .popup__close:visited:hover {
      color: #55c57a; }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: -5;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.story {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 14px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg); }
  .story__shape {
    width: 110px;
    height: 110px;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-20px) skewX(12deg);
    margin-top: -10px;
    position: relative; }
  .story__img {
    width: 100%;
    height: 100%;
    transition: all ease-in 0.4s;
    transform: scale(1.3); }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    text-align: center;
    opacity: 0;
    transition: all ease-in 0.4s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

@media (max-width: 600px) {
  .story {
    width: 85%;
    font-size: 12px;
    transform: none;
    padding: 30px; }
    .story__shape {
      width: 55px;
      height: 55px;
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-5px);
      margin-top: -10px;
      position: relative; }
    .story__text {
      transform: none; } }

.composition {
  position: relative;
  margin-bottom: 110px; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    outline-offset: 10px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s; }
    @media (max-width: 600px) {
      .composition__photo {
        margin: 0 auto; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .composition__photo {
        width: 60%; } }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
      @media (max-width: 600px) {
        .composition__photo--p1 {
          left: 3px;
          top: 25px; } }
      @media (min-width: 601px) and (max-width: 900px) {
        .composition__photo--p1 {
          left: 20px;
          top: -5px; } }
    .composition__photo--p2 {
      right: 65px;
      top: 25px; }
      @media (max-width: 600px) {
        .composition__photo--p2 {
          right: -3px;
          top: 25px; } }
      @media (min-width: 601px) and (max-width: 900px) {
        .composition__photo--p2 {
          left: 110px;
          top: 53px; } }
    .composition__photo--p3 {
      left: 20%;
      top: 110px; }
      @media (max-width: 600px) {
        .composition__photo--p3 {
          left: 25%;
          top: 7px; } }
      @media (min-width: 601px) and (max-width: 900px) {
        .composition__photo--p3 {
          left: 49px;
          bottom: 0; } }
    .composition__photo:hover {
      transform: scale(1.02);
      z-index: 20;
      outline: 10px solid #55c57a;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.card {
  perspective: 1500px;
  position: relative; }
  .card__side {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 360px;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all ease 0.6s; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      position: absolute; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 170px;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(./../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(./../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(./../../img/nat-7.jpg); }
  .card__heading {
    font-size: 17px;
    font-weight: 300;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 32%;
    right: 8%;
    width: 50%; }
  .card__heading-span {
    padding: 4px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__details ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 75%; }
  .card__details li {
    padding: 10px;
    font-size: 13px; }
    .card__details li:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__cta {
    width: 75%;
    text-align: center;
    margin: 85px auto; }
  .card__price--box {
    color: #fff;
    text-align: center; }
  .card__price--only {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .card__price--value {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 30px; }

@media (max-width: 600px) {
  .card {
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none; }
    .card__side--back {
      transform: rotateY(0);
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
    .card:hover .card__side--front {
      transform: rotateY(0); }
    .card__cta {
      width: 100%;
      margin: 20px auto;
      padding: 30px; }
    .card__price--only {
      font-size: 20px;
      margin-bottom: 10px;
      padding-top: 10px; }
    .card__price--value {
      font-size: 40px;
      font-weight: 100;
      margin-bottom: 1px; } }

@media (min-width: 601px) and (max-width: 900px) {
  .card__side {
    height: auto;
    width: 100%; }
  .card__picture {
    background-size: cover;
    height: 150px; }
  .card__heading {
    font-size: 13px; }
  .card__heading-span {
    padding: 3px 6px; }
  .card__details ul {
    margin: 10px auto;
    width: 90%; }
  .card__details li {
    padding: 10px;
    font-size: 11px; }
  .card__cta {
    width: 80%;
    text-align: center;
    margin: 95px auto; }
  .card__price--only {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .card__price--value {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 25px; } }

.features-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s; }
  @media (max-width: 600px) {
    .features-box {
      margin-bottom: 20px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .features-box {
      padding: 20px 10px;
      font-size: 15px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .features-box__text {
      padding: 30px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .features-box {
      font-size: 14px;
      padding: 40px 20px; } }
  .features-box__icon {
    display: inline-block;
    font-size: 50px;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .features-box:hover {
    transform: translateY(-10px) scale(1.1); }

.form__group:not(:last-child) {
  margin-bottom: 10px; }
  @media (min-width: 901px) and (max-width: 1200px) {
    .form__group:not(:last-child) {
      margin-bottom: 8px; } }

.form__input {
  font-size: 14px;
  display: block;
  color: inherit;
  font-family: inherit;
  width: 70%;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  transition: all 0.6s; }
  @media (max-width: 600px) {
    .form__input {
      width: 100%;
      font-size: 12px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .form__input {
      width: 60%;
      font-size: 13px; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
    border-bottom: solid 2px #55c57a; }
  .form__input:focus:invalid {
    border-bottom: solid 2px #ff7730; }

.form__lablel {
  font-weight: 700;
  margin-left: 9px;
  margin-top: 4px;
  display: block;
  font-size: 14px;
  transition: all 0.6s; }
  @media (max-width: 600px) {
    .form__lablel {
      font-size: 12px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .form__lablel {
      font-size: 12px; } }

.form__input:placeholder-shown + .form__lablel {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-25px); }

.form__radio-group {
  width: 40%;
  display: inline-block; }
  @media (max-width: 600px) {
    .form__radio-group {
      width: 49%; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .form__radio-group {
      width: 35%; } }

.form__radio-input {
  display: none; }

.form__radio-lable {
  position: relative;
  cursor: pointer;
  padding-left: 25px; }
  @media (max-width: 600px) {
    .form__radio-lable {
      font-size: 11px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .form__radio-lable {
      font-size: 13px; } }

.form__radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px #55c57a;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 600px) {
    .form__radio-button {
      width: 16px;
      height: 16px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .form__radio-button {
      width: 18px;
      height: 18px; } }
  .form__radio-button::after {
    content: "";
    height: 2px;
    height: 2px;
    border-radius: 50%;
    display: block;
    border: solid 4px #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-lable .form__radio-button::after {
  opacity: 1; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  @media (max-width: 600px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%); } }
  .header__logo-header {
    position: absolute;
    top: 25px;
    left: 25px; }
  .header__logo {
    height: 30px; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    display: block;
    color: #fff;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  position: fixed;
  cursor: pointer;
  display: inline-block;
  top: 59px;
  right: 55px;
  z-index: 2000; }
  @media (max-width: 600px) {
    .navigation__button {
      height: 48px;
      width: 48px;
      top: 18px;
      right: 30px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .navigation__button {
      height: 58px;
      width: 58px;
      top: 20px;
      right: 35px; } }

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 60px;
  right: 60px;
  z-index: 1000;
  transition: all ease-in 0.7s; }
  @media (max-width: 600px) {
    .navigation__background {
      height: 48px;
      width: 48px;
      top: 18px;
      right: 30px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .navigation__background {
      height: 58px;
      width: 58px;
      top: 20px;
      right: 35px; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 0;
  width: 0;
  z-index: 1500;
  transition: all cubic-bezier(0.98, -0.01, 0, 1.62) 0.9s; }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    .navigation__list {
      width: 70%;
      font-size: 11px; } }

.navigation__item {
  margin-top: 15px; }
  .navigation__item span {
    margin-right: 10px; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  padding: 5px 8px;
  background-size: 220%;
  transition: all, 0.6s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translatex(7px); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(52); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  display: inline-block;
  position: relative; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 30px;
    height: 2.5px;
    background-color: #777;
    top: 19px;
    left: 19px; }
    @media (max-width: 600px) {
      .navigation__icon, .navigation__icon::after, .navigation__icon::before {
        width: 25px;
        top: 10px;
        left: 12px; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .navigation__icon, .navigation__icon::after, .navigation__icon::before {
        width: 30px;
        top: 15px;
        left: 14px; } }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all ease-in 0.5s; }
  .navigation__icon::after {
    top: 10px; }
  .navigation__icon::before {
    top: -10px; }
  .navigation__icon__button:hover .navigation__icon__icon::after {
    top: -3px; }
  .navigation__icon__button:hover .navigation__icon__icon::before {
    top: 3px; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.footer {
  background-color: #777;
  padding: 20px 100px;
  font-size: 14px; }
  @media (max-width: 600px) {
    .footer {
      padding: 20px 35px;
      font-size: 11px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .footer {
      padding: 0 35px;
      font-size: 12px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .footer {
      padding: 20px 50px; } }
  .footer__logo {
    width: 120px;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    display: inline-block;
    padding-top: 10px;
    width: 80%;
    float: left; }
    @media (max-width: 600px) {
      .footer__navigation {
        padding-bottom: 15px;
        width: 100%; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .footer__navigation {
        width: 95%; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .footer__navigation {
        width: 95%; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-left: 10px; }
  .footer__link {
    transition: all ease-in 0.3s; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      color: #f7f7f7;
      text-transform: uppercase;
      display: inline-block; }
    .footer__link:hover, .footer__link:active {
      color: #55c57a;
      transform: rotate(5deg) scale(1.1);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8); }
  .footer__copyright {
    color: #eee;
    font-size: 14px;
    border-top: 1px solid #f7f7f7;
    display: inline-block;
    padding-top: 10px;
    width: 80%;
    float: left; }
    @media (max-width: 600px) {
      .footer__copyright {
        font-size: 12px;
        width: 100%;
        text-align: justify; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .footer__copyright {
        float: none;
        width: 92%;
        padding-right: 15px; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .footer__copyright {
        float: left;
        padding-right: 12px; } }

.row-2 {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px; }
  @media (max-width: 600px) {
    .row-2 {
      grid-template-columns: 1fr;
      padding: 15px 25px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .row-2 {
      grid-template-columns: 50% 50%;
      margin: 0 auto;
      gap: 30px;
      height: 250px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .row-2 {
      grid-template-columns: 1fr 1fr;
      gap: 60px; } }

.row-4 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  column-gap: 50px; }
  @media (max-width: 600px) {
    .row-4 {
      grid-template-columns: 1fr;
      width: 90%;
      margin: 0 auto;
      position: static;
      translate: none; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .row-4 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      position: static;
      translate: none;
      row-gap: 35px;
      column-gap: 35px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .row-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      width: 100%;
      padding: 10px 20px; } }

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 70px;
  padding: 0 100px 0 100px; }
  @media (max-width: 600px) {
    .row-3 {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 0 30px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .row-3 {
      column-gap: 25px;
      padding: 0; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .row-3 {
      column-gap: 40px;
      padding: 0 40px; } }

.section-about {
  padding: 25px 0;
  margin-top: 8vh; }
  @media (max-width: 600px) {
    .section-about {
      margin-top: 2px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .section-about {
      padding: 15px 0;
      margin-top: 0px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .section-about {
      padding: 0 10px; } }

.section-features {
  margin-top: 100px;
  height: 85vh;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url(../img/nat-4.jpg);
  background-size: cover;
  position: relative;
  transform: skewY(-4deg); }
  .section-features > * {
    transform: skewY(4deg); }
  @media (max-width: 600px) {
    .section-features {
      height: auto;
      padding: 30px;
      margin-top: 80px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .section-features {
      height: auto;
      padding: 50px;
      margin-top: 20px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .section-features {
      height: 70vh;
      margin-top: 110px; } }

.section-tours {
  width: 95%;
  margin: 80px auto; }
  @media (max-width: 600px) {
    .section-tours {
      margin: 20px auto; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .section-tours {
      margin: 40px auto; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .section-tours {
      width: 90%;
      margin: 30px auto; } }

.section-stories {
  padding: 100px 20px;
  position: relative; }
  @media (max-width: 600px) {
    .section-stories {
      padding: 20px 5px; } }
  @media (min-width: 601px) and (max-width: 900px) {
    .section-stories {
      padding: 37px 10px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .section-stories {
      padding: 40px 13px; } }

.section-booking {
  padding: 120px 170px;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 55%, transparent 55%), url(./../../img/nat-10.jpg);
  background-size: cover;
  height: 380px;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); }
  .book__form {
    padding: 30px;
    width: 50%; }

@media (max-width: 600px) {
  .section-booking {
    padding: 35px; }
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 100%, transparent 100%), url(./../../img/nat-10.jpg);
    background-size: cover;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    width: 100%; }
    .book__form {
      width: 100%;
      padding: 30px;
      text-align: center; } }

@media (min-width: 601px) and (max-width: 900px) {
  .section-booking {
    padding: 45px 80px; }
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 65%, transparent 65%), url(./../../img/nat-10.jpg);
    background-size: cover;
    height: auto; }
    .book__form {
      padding: 20px;
      width: 90%; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .section-booking {
    padding: 90px 140px; }
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url(./../../img/nat-10.jpg);
    height: 350px; }
    .book__form {
      padding: 24px;
      width: 70%; } }
