.section-about {
  padding: 25px 0;
  margin-top: 8vh;
  @include respond(phone) {
    margin-top: 2px;
  }
  @include respond(tab-port) {
    padding: 15px 0;
    margin-top: 0px;
  }
  @include respond(tab-land) {
    padding: 0 10px;
  }
}

.section-features {
  margin-top: 100px;
  height: 85vh;
  background-position: top;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  position: relative;
  transform: skewY(-4deg);
  & > * {
    transform: skewY(4deg);
  }
  @include respond(phone) {
    height: auto;
    padding: 30px;
    margin-top: 80px;
  }
  @include respond(tab-port) {
    height: auto;
    padding: 50px;
    margin-top: 20px;
  }
  @include respond(tab-land) {
    height: 70vh;
    margin-top: 110px;
  }
}

.section-tours {
  width: 95%;
  margin: 80px auto;
  @include respond(phone) {
    margin: 20px auto;
  }
  @include respond(tab-port) {
    margin: 40px auto;
  }
  @include respond(tab-land) {
    width: 90%;
    margin: 30px auto;
  }
}

.section-stories {
  padding: 100px 20px;
  position: relative;
  @include respond(phone) {
    padding: 20px 5px;
  }
  @include respond(tab-port) {
    padding: 37px 10px;
  }
  @include respond(tab-land) {
    padding: 40px 13px;
  }
}

.section-booking {
  padding: 120px 170px;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 55%,
      transparent 55%
    ),
    url(./../../img/nat-10.jpg);
  background-size: cover;
  height: 380px;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba($color-black, 0.4);
  &__form {
    padding: 30px;
    width: 50%;
  }
}

@include respond(phone) {
  .section-booking {
    padding: 35px;
  }
  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 100%,
        transparent 100%
      ),
      url(./../../img/nat-10.jpg);
    background-size: cover;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba($color-black, 0.4);
    width: 100%;
    &__form {
      width: 100%;
      padding: 30px;
      text-align: center;
    }
  }
}

@include respond(tab-port) {
  .section-booking {
    padding: 45px 80px;
  }
  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 65%,
        transparent 65%
      ),
      url(./../../img/nat-10.jpg);
    background-size: cover;
    height: auto;
    &__form {
      padding: 20px;
      width: 90%;
    }
  }
}

@include respond(tab-land) {
  .section-booking {
    padding: 90px 140px;
  }
  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 60%,
        transparent 60%
      ),
      url(./../../img/nat-10.jpg);
    height: 350px;
    &__form {
      padding: 24px;
      width: 70%;
    }
  }
}
